# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*/bin/*
*/out/*
source/inputManager/*
*.BAK

# START
# Author:   Gon Kim (imgonkim@gmail.com)
# Date:     03162013_214330 
# vim
.*.sw*
*.*~
# Xcode
*.1
# END
